# En voyage avec (des) pandas

Suite à la première étape où vous avez découvert (ou révisé) des bases de Python, vous allez découvrir (ou réviser) l'utilisation de la bibliothèque **pandas** pour traiter un fichier csv travel_data.csv qui contient un carnet de voyage.

Pour réaliser les exercices, utilisez la documentation officielle de pandas :  
https://pandas.pydata.org/pandas-docs/stable/

N'hésitez pas à rechercher les fonctions, méthodes et exemples nécessaires pour compléter les tâches demandées.  

Chaque cellule de code est précédée d'une cellule TODO indiquant la liste des objectifs à atteindre.

Répondez également dans le notebook aux petites questions proposées.

In [32]:
# Il faut installer la bibliothèque pandas. On verra comment faire ça proprement plus tard.
!pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.13/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

# 1. Charger et afficher les données

**TODO**

- Importer la bibliothèque pandas sous l’alias `pd`  
- Charger le fichier `travel_journal.csv` dans un DataFrame `df_trips`  
- Afficher les 5 premières lignes du DataFrame  
- Afficher les types de données des colonnes

In [33]:
# Write your code here
import pandas as pd

df_trips = pd.read_csv('travel_data.csv')

print(df_trips.head())

print(df_trips.dtypes)

        city        date weather     mood  photos
0      Paris  2024-03-15   sunny    happy     150
1       Lyon  2024-04-10  cloudy  curious      80
2  Marseille  2024-05-05     NaN      sad      25
3   Bordeaux  2024-06-20   sunny  excited     200
4       Nice  2024-07-12   sunny  relaxed     180
city       object
date       object
weather    object
mood       object
photos      int64
dtype: object

# 2. Nettoyer les données manquantes

**TODO**

- Identifier les lignes avec des valeurs manquantes dans le DataFrame  
- Remplacer les valeurs manquantes dans la colonne `weather` par `"unknown"`  
- Convertir la colonne `date` en format datetime  
- Trier le DataFrame par date croissante
- Exporter les données dans un fichier clean_travel_data.csv
- A votre avis quel autre type de vérifications pourrait-on faire afin de nettoyer les données ?

In [38]:
# Write your code here
df_trips['weather'] = df_trips['weather'].fillna('unknown')

pd.to_datetime(df_trips['date'])

df_trips.sort_values(by='date', inplace=True)

df_trips['photos'].clip(lower=0, inplace=True) # J'ai remarqué des valeurs négatives dans la colonne 'photos', je fais en sorte que ces valeurs soient égales à 0 car il me semble impossible de prendre un nombre négatif de photo.

df_trips.to_csv('clean_travel_data.csv', index=False)

/var/folders/pf/7zw_qcgj0w9bsp57r_kjq13h0000gn/T/ipykernel_20656/348669499.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trips['photos'].clip(lower=0, inplace=True) # J'ai remarqué des valeurs négatives dans la colonne 'photos', je fais en sorte que ces valeurs soient égales à 0 car il me semble impossible de prendre un nombre négatif de photo.

# 3. Filtrer et trier les voyages

**TODO**

- Extraire les voyages où la météo est `"sunny"` et le nombre de photos est supérieur à 100  
- Trier ces voyages par nombre de photos décroissant  
- Afficher les colonnes `city`, `date`, `photos` du résultat filtré

In [35]:
# Write your code here
df_sunny_trips = df_trips.loc[(df_trips['weather'] == 'sunny') & (df_trips['photos'] > 100)]

df_sunny_trips = df_sunny_trips.sort_values(by='photos', ascending=False)

df_sunny_trips[['city', 'date', 'photos']]

          city        date  photos
3     Bordeaux  2024-06-20     200
4         Nice  2024-07-12     180
0        Paris  2024-03-15     150
8  Montpellier  2024-11-25     110

# 4. Groupements et agrégations

**TODO**

- Calculer le total des photos prises par ville  
- Calculer la moyenne des photos selon la météo  
- Compter le nombre de voyages par humeur (mood)

In [36]:
# Write your code here
print(
    df_trips.groupby('city')['photos'].sum()
    )

print(
    df_trips.groupby('weather')['photos'].mean()
    )

print(
    df_trips.groupby('mood').size()
    )

city
Bordeaux       230
Grenoble         5
Lyon           175
Marseille      100
Montpellier    145
Nantes         135
Nice           220
Paris          280
Strasbourg      75
Toulouse       175
Name: photos, dtype: int64
weather
cloudy      88.75
rainy       31.25
snowy        2.50
sunny      120.00
unknown     47.50
Name: photos, dtype: float64
mood
bored         1
calm          2
cold          1
curious       2
excited       3
happy         3
joyful        2
relaxed       2
sad           2
thoughtful    2
dtype: int64